* {
    box-sizing: border-box;
}

.pull-right {
    float: right;
}

#text {
    margin-top: 70px;
}

#j2 {
    background-image: url('/static/pictures/pme1.jpg');
    background-repeat: no-repeat;

}

#main-content {
    flex-wrap: nowrap;
    flex: 200px;
    flex-direction: row;
}

#pix {
    float: left;
}

