#maps {
    width: 100%;
    height: 500px;
}

.pull-right {
    float: right;
}

#text {
    margin-top: 70px;
}

#jumbo {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-bottom: 80px;
}


#main-content {
    flex-wrap: nowrap;
    flex: 200px;
    flex-direction: row;
}

#pix {
    float: left;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #maps {
        width: 100%;
        height: 200px;
    }

    #jumbo-pix {
        display: none;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #maps {
        width: 100%;
        height: 300px;
    }

    #jumbo {
        width: 100%;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { }

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { }