{% extends 'zloggr/base.html' %}
{% load static %}

{% block title %}HUAWEI products and accessories reviews | Zloggr blogs{% endblock %}

{% block metadescription %}Latest HUAWEI products and accessories. HUAWEI smartwatches, earbuds and fitness tracker reviews{% endblock %}

{% block content %}'

    <!--Canonical links-->
    <link rel="canonical" href="https://zloggr.com/huawei">

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('static/pictures/huawei.webp')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
            <h1>HUAWEI Products and Accessories</h1>
            <h2 class="subheading">Blogs made for you</h2>
            <span class="meta">Posted by
                <a href="https://aniekanessiet.com/">Aniekan Essiet</a>
            </span>
            </div>
        </div>
        </div>
    </div>
    </header>


    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="{% url 'blog7' %}">
              <h2 class="post-title">
                Huawei Freebuds 4i
              </h2>
              <h3 class="post-subtitle">
                A must get for all music lovers
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="https://aniekanessiet.com/">Aniekan Essiet</a>
              on September 20, 2021</p>
          </div>
          <hr>
        </div>
      </div>
      
      
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="{% url 'blog8' %}">
              <h2 class="post-title">
                Huawei GT Watch 2 
              </h2>
              <h3 class="post-subtitle">
                Time couldn’t be any more cooler &#128526;
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="https://aniekanessiet.com/">Aniekan Essiet</a>
              on August 28, 2021</p>
          </div>
          <hr>
        </div>
      </div>
    </div>
    

    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
              <a href="{% url 'blog6' %}">
                <h2 class="post-title">
                  Huawei Honor Band 6 
                </h2>
                <h3 class="post-subtitle">
                  What is the Huawei Honor Band 6 smart watch and why do you ned to get it?
                </h3>
              </a>
              <p class="post-meta">Posted by
                <a href="https://aniekanessiet.com/">Aniekan Essiet</a>
                on August 16, 2021</p>
            </div>
          </div>
        </div>
      </div>
<hr>

{% endblock %}