{% extends 'zloggr/base.html' %}
{% load static %}

{% block title %}Tech Software and hardware reviews | Zloggr blogs {% endblock %}

{% block metadescription %}Zloggr blogs are blogs made just for you about tech accessories, products and internet protection.{% endblock %}

{% block content %}

  <!--Canonical links-->
  <link rel="canonical" href="https://zloggr.com/">

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/pictures/zloggrhome.webp')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Zloggr blogs</h1>
            <span class="subheading">Blogs, made just for you</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="{% url 'expressvpn' %}">
            <h2 class="post-title">
              ExpressVpn review 2021
            </h2>
            <h3 class="post-subtitle">
              VPN for all your video streaming services.
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="https://aniekanessiet.com/">Aniekan Essiet</a>
            on October 30, 2021</p>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="{% url 'blackfridaydeal' %}">
            <h2 class="post-title">
              NordVpn Black Friday Deal: Save 72% Of The 2 Year Plan 
            </h2>
            <h3 class="post-subtitle">
              Best Price Since 2017
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="https://aniekanessiet.com/">Aniekan Essiet</a>
            on October 27, 2021</p>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="{% url 'internetvpn' %}">
            <h2 class="post-title">
              NordVpn review 2021
            </h2>
            <h3 class="post-subtitle">
              Your data is yours and should be yours alone.
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="https://aniekanessiet.com/">Aniekan Essiet</a>
            on October 02, 2021</p>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="{% url 'blog7' %}">
            <h2 class="post-title">
              Huawei Freebuds 4i 
            </h2>
            <h3 class="post-subtitle">
              A must get for all music lovers
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="https://aniekanessiet.com/">Aniekan Essiet</a>
            on September 20, 2021</p>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="{% url 'blog8' %}">
            <h2 class="post-title">
              Huawei GT Watch 2 
            </h2>
            <h3 class="post-subtitle">
              Time couldn’t be any more cooler &#128526;
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="https://aniekanessiet.com/">Aniekan Essiet</a>
            on August 28, 2021</p>
        </div>
        <hr>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="{% url 'blog9' %}">
            <h2 class="post-title">
              Sony WH-1000XM4 Wireless Headphones
            </h2>
            <h3 class="post-subtitle">
              "When the music hits you, you feel no pain"
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="https://aniekanessiet.com/">Aniekan Essiet</a>
            on August 28, 2021</p>
        </div>
        <hr>
      </div>
    </div>
  </div>


  <br>
  <div class="container">
    <div class="d-flex justify-content-end">
      <a href="{% url 'homepage1' %}" class="btn btn-dark" role="button">Next Page</a>
    </div>
  </div>


{% endblock %}
