<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/6d3cd5f68394730c15c47bd9e/c76e71c6e988f4195bfb9f12b.js");</script>
  
    <title>Essiet, LLC</title>

    <!-- Add additional js in static file -->
    {% load static %}
    <link rel="stylesheet" href="text/javascript" href="{% static 'js/jquerry.js' %}">
    
    <!-- Add additional CSS in static file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" href="#">essiet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        
      
        <div class="collapse navbar-collapse bg-transparent" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% static 'essietproject/contacts.html' %">Contacts</a>
            </li>
         
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Company
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">About Us</a>
                </div>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Sign in</a>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign up</a>
            </li>
            </li>
          </ul>
        </div>
    </nav>

    <!--navbar ends-->

    <!--jumbotron-->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
       <div class="row">
          <div class="col-lg-6">
            <h1 class="display-4" id="jumbo-header">The Platform For Clients. The Home Of Freelancers.</h1>
            <p class="lead">Get the most, at least.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Client</a>
            <a class="btn btn-light btn-lg" href="#" role="button">Freelancer</a>
         </div>
         
         <div class="row">
            <div class="col-lg-6">
              <img src="{% static 'pictures\image6.png' %}" height="400" width="500" alt="Seo">
            </div>
         </div>
        </div>
      </div>
    </div>
    <!--jumbotron ends-->

    <!--<body class="inner" style="background-image: url('{% static '/pictures/pme3.jpg' %}')";>-->
        
    <!--About us starts-->

    <div class="container">
      <h2 id="aboutus">About Us</h2>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h3 class="featurette-heading">Passionate Marketing Experts.</h2>
        <p class="lead">We aim to help bussiness create their brand prescense and achieve their goals. Our process is designed to epower your brand and outfit your bussiness with the marketing tools needed to succed. Talk to us today about how we can support your growthm limit your turnover, and put you on a solid track to success and profit</p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'pictures\pme.jpg' %}" width="500" height="500" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div id="pix" class="col-md-5 col-md-pull-7">
        <img src="{% static 'pictures\pme3.jpg' %}" height="500" width="500" alt="Generic placeholder image">
      </div>
      <div class="col-md-7 col-md-push-5">
        <h3 class="featurette-heading">Our Analytical Approach.</h2>
        <p class="lead">Our services includes a comprehensive consult to help identify gaps and opportunitiesm, and results in a comprehensive report that includes a project plan with timelines and cost analysis. Our individula plans are made up of quality services that will help you get there quickly and smoothly</p>
      </div>
    </div>


    <hr class="featurette-divider">

    <!-- /END THE ABOUT US -->


    <!-- START SERVICES-->
    <div id="main-content" class="container">
      <div id="menus" class="row">
        <div class="col-xl-4">
         <div id="sub-title"><span>Chicken</span></div>
         <span>Good morning. Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters, between two or more users of mobile devices, desktops/laptops, or other type of compatible computer.</span>
        </div>
      
            <div class="col-xl-4">
              <div id="sub-title1"><span>Beef</span></div>
              <span>Good morning. Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters, between two or more users of mobile devices, desktops/laptops, or other type of compatible computer.</span>
            </div>

            <div class="col-xl-4">
              <div id="sub-title2"><span>Sushi</span></div>
              <span>Good morning. Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters, between two or more users of mobile devices, desktops/laptops, or other type of compatible computer.</span>
            </div>

            <div class="col-xl-4">
              <div id="sub-title1"><span>Beef</span></div>
              <span>Good morning. Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters, between two or more users of mobile devices, desktops/laptops, or other type of compatible computer.</span>
            </div>

            <div class="col-xl-4">
              <div id="sub-title2"><span>Sushi</span></div>
              <span>Good morning. Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters, between two or more users of mobile devices, desktops/laptops, or other type of compatible computer.</span>
            </div>

            <div class="col-xl-4">
              <div id="sub-title2"><span>Sushi</span></div>
              <span>Good morning. Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters, between two or more users of mobile devices, desktops/laptops, or other type of compatible computer.</span>
            </div>
        </div>
    </div>
   
    <!--END SERVICES-->

    

    <div class = "subscribe_form">
      <p>Sign up for our newsletter to get latest updates</p>
      <form id = "subscribe" form method = 'POST'>{% csrf_token %}
          <input id = "email_id" type = "email" name = "email_id" placeholder="your@email.com">
          <button type="submit" value = "Subscribe" id = "email_submit">Subscribe</button>
      </form>
    </div>


    <!---->


    <hr class="featurette-divider">

    <!--Footer-->
    <footer class="page-footer">
        <div class="container">
            <p class="pull-right"><a href="#">Privacy Settings</a> &middot; <a href="#">Terms Of Service</a></p></a></p>
            <p>&copy; 2020 essiet 
        </div>
    </footer>

</body>
</html>


